@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

@import "tailwindcss";

@theme {
    --font-open-sans: "Open Sans", sans-serif;
    --font-rubik: "Rubik", sans-serif;
}

@theme {
  --animate-fade-in: fade-in 1s ease-in-out forwards;

  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}

@layer components {
  .hamburger {
    @apply relative cursor-pointer w-[24px] h-[24px] transition-all duration-[250];
  }

  .hamburger-top,
  .hamburger-middle,
  .hamburger-bottom {
    @apply absolute w-[24px] h-[2px] top-0 left-0 rotate-0 transition-all duration-500;
  }

  .hamburger-middle {
    @apply translate-y-[7px]
  }

  .hamburger-bottom {
    @apply translate-y-[14px]
  }

  .open {
    @apply rotate-90
  }

  .open .hamburger-top {
    @apply rotate-45 translate-y-[6px] -translate-x-[6px]
  }

  .open .hamburger-middle {
    @apply hidden
  }

  .open .hamburger-bottom {
    @apply -rotate-45 translate-y-[6px] -translate-x-[6px]
  }
}
