@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
    --font-open-sans: "Open Sans", sans-serif;
    --font-rubik: "Rubik", sans-serif;
}

@theme {
  --animate-fade-in: fade-in 1s ease-in-out forwards;

  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}

@layer components {
  .hamburger {
    @apply relative cursor-pointer w-[24px] h-[24px] transition-all duration-[250];
  }

  .hamburger-top,
  .hamburger-middle,
  .hamburger-bottom {
    @apply absolute w-[24px] h-[2px] top-0 left-0 rotate-0 transition-all duration-500;
  }

  .hamburger-middle {
    @apply translate-y-[7px]
  }

  .hamburger-bottom {
    @apply translate-y-[14px]
  }

  .open {
    @apply rotate-90
  }

  .open .hamburger-top {
    @apply rotate-45 translate-y-[6px] -translate-x-[6px]
  }

  .open .hamburger-middle {
    @apply hidden
  }

  .open .hamburger-bottom {
    @apply -rotate-45 translate-y-[6px] -translate-x-[6px]
  }
}

@layer components {
  .social-link {
    @apply text-[#606669] inline-block text-[16px] h-[24px] w-[24px] leading-[1.5] mx-[10px] my-[6px] hover:text-rose-400;
  }
}

@utility prose {
  .tab {
    @apply relative flex flex-wrap p-0 ml-[-10px]
  }

  .tab > * {
    @apply relative flex-none pl-[20px] list-none
  }

  .tab > * > a {
    @apply block text-center py-[9px] px-[5px] md:px-[20px] text-[#999] border-b-2 border-solid border-transparent text-[12px]
    uppercase ease-in-out duration-100 leading-[20px] no-underline
  }

  .tab > .active > a {
    @apply text-[#222] border-rose-400 no-underline
  }

  .tab > li > a {
    @apply cursor-pointer no-underline
  }

  .tab-content {
    @apply p-0
  }

  .tab-content > li {
    @apply hidden
  }

  .tab-content > li.active {
    @apply block
  }
}
