<section id="author">
  <div class="container mx-auto my-10 w-9/10 md:w-5/6 lg:w-4/6">
    <div class="flex flex-col items-start justify-start w-full mx-auto my-10 text-neutral-600 bg-neutral-200">
      <h1 class="w-9/10 px-4 my-4 mx-auto md:text-xl font-semibold tracking-tight">
        About Author
      </h1>
      <div class="w-9/10 px-4 my-2 mx-auto text-sm md:text-lg font-extralight">
        My name is Yoko Harada.
        I'm a software engineer who works in various development fields and loves to learn new technologies.
      </div>
      <div class="w-9/10 px-4 my-2 mx-auto text-sm md:text-lg font-extralight">
        My expertises include: Full Stack Web Development /
        Ruby on Rails /
        Vue.js / React / Tailwind CSS /
        Machine Learning /
        XML processing /
        Backend System Development & Deployment
      </div>
      <div class="w-9/10 px-4 mt-2 mb-6 mx-auto text-sm md:text-lg font-extralight">
        I'm a polyglot. Languages I use are: Ruby /
        JavaScript / TypeScript /
        Python /
        Clojure / ClojureScript /
        Java /
        Bash /
        SQL /
        C++
      </div>
    </div>
  </div>


</section>
