{% assign menus = site.data.algo_menu %}

<aside data-sidebar-target="sidebarContainer" data-expanded="1" data-controller="sidebar"
       class="sm:w-1/5 bg-[#495158] min-h-screen">
  <div class="sticky top-0 pt-12 px-2 w-full">
    <div data-action="click->sidebar#toggle" data-sidebar-target="icon"
         class="absolute right-2 top-2 cursor-pointer hover:text-rose-200">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 19l-7-7 7-7m8 14l-7-7 7-7" />
      </svg>
    </div>
    <nav>
      <div class="flex flex-col px-2 md:px-4 overflow-hidden space-y-4">
        {% for menu in menus %}
          {% include algo_item_list.html menu=menu index=forloop.index %}
        {% endfor %}
      </div>
    </nav>
  </div>
</aside>
