{% assign index = include.index %}
{% assign name = include.menu.name %}
{% assign list = include.menu.list %}
{% assign submenus = site.data.[list] %}

<div
    id="algo-accordion-{{ index }}"
    class="flex flex-col items-start justify-start border-b border-neutral-200 mb-4"
>
  <button
      onclick="toggleAccordion({{ index }})"
      class="text-neutral-800 hover:text-rose-400 hover:font-bold w-full flex flex-row items-start justify-between text-xs md:text-sm lg:text-base font-light">
    <span class="h-8 text-sm text-extralight uppercase">{{ name }}</span>
    <span id="algo-icon-{{index}}" class="text-neutral-800 hover:text-rose-400 transition-transform duration-300">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="w-4 h-4">
        <path d="M8.75 3.75a.75.75 0 0 0-1.5 0v3.5h-3.5a.75.75 0 0 0 0 1.5h3.5v3.5a.75.75 0 0 0 1.5 0v-3.5h3.5a.75.75 0 0 0 0-1.5h-3.5v-3.5Z" />
      </svg>
    </span>
  </button>
  <div id="algo-content-{{index}}" class="max-h-0 overflow-hidden transition-all duration-300 ease-in-out">
    {% for submenu in submenus %}
    <ul class="">
      {% for subitem in submenu.items %}
      {% assign current = nil %}
      {% if page.url == subitem.link %}
      {% assign current = 'font-semibold' %}
      {% endif %}
      <li class="pl-2 pb-2 text-xs text-stone-700 hover:text-rose-400 {{ current }}">
        <a href="{{ subitem.link | prepend: site.baseurl }}" class="flex items-center h-8">{{ subitem.name }}</a>
      </li>
      {% endfor %}
    </ul>
    {% endfor %}
  </div>
</div>
