{% assign menus = site.data.algo_menu %}

  <div class="bg-neutral-50">
    <div class="flex h-14 items-center border-t border-gray-950/5 bg-white px-4 sm:px-6 lg:hidden">
      <button
          id="algo-menu-btn"
          type="button"
          class="relative inline-grid size-7 place-items-center rounded-md text-gray-950 hover:bg-gray-950/5  -ml-1.5"
          aria-label="Open navigation menu"
      >
        <span class="absolute top-1/2 left-1/2 size-11 -translate-1/2 pointer-fine:hidden"></span>
        <svg viewBox="0 0 16 16" fill="currentColor" class="size-4">
          <path fill-rule="evenodd" d="M2 4.75A.75.75 0 0 1 2.75 4h10.5a.75.75 0 0 1 0 1.5H2.75A.75.75 0 0 1 2 4.75Zm0 6.5a.75.75 0 0 1 .75-.75h10.5a.75.75 0 0 1 0 1.5H2.75a.75.75 0 0 1-.75-.75Z" clip-rule="evenodd"></path>
        </svg>
      </button>
      <ol class="sticky ml-4 flex min-w-0 items-center gap-2 text-sm/6 whitespace-nowrap">
        <li class="flex items-center gap-2">
          <span class="text-gray-500 uppercase">{{ page.group }}</span>
          <svg viewBox="0 0 16 16" class="size-4 fill-gray-950">
            <path fill-rule="evenodd" d="M6.22 4.22a.75.75 0 0 1 1.06 0l3.25 3.25a.75.75 0 0 1 0 1.06l-3.25 3.25a.75.75 0 0 1-1.06-1.06L8.94 8 6.22 5.28a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd"></path>
          </svg>
        </li>
        <li class="truncate text-gray-950">{{ page.title }}</li>
      </ol>
    </div>
    <nav id="algo-nav-menu" class="min-h-0 shrink overflow-y-auto">
      <div class="flex flex-col px-2 md:px-4 pt-4 space-y-4">
        {% for menu in menus %}
          {% include algo_item_list.html menu=menu index=forloop.index %}
        {% endfor %}
      </div>
    </nav>
  </div>
