<nav class="my-2 text-sm md:text-base md:tracking-widest font-normal font-mono text-stone-700 dark:text-gray-50">
  <a href="/" class="pr-2 hover:underline decoration-2 underline-offset-4  hover:decoration-amber-500
    {%- if page.url == '/' %} font-bold text-stone-800 dark:text-white underline decoration-amber-500{% endif %}"
  >home</a>
  <a href="/posts" class="pr-2 hover:underline underline-offset-2 decoration-2  hover:decoration-rose-500
    {%- if page.url contains '/post' %} font-bold text-stone-800 dark:text-white underline decoration-rose-500{% endif %}"
  >posts</a>
  <a href="https://github.com/vormwald/jekydoo" class="hover:underline decoration-2 underline-offset-4  hover:decoration-indigo-400">
    source</a>
</nav>
