<nav class="relative mx-auto px-6 pt-5 pb-3 bg-[#262b2f] text-stone-400">
  <div class="flex flex-row items-center justify-between">
    <!-- Hamburger Button -->
    <div class="md:hidden">
      <button
          id="menu-btn"
          type="button"
          class="z-40 block hamburger md:hidden focus:outline-none"
      >
        <span class="hamburger-top bg-[#9c9aa6]"></span>
        <span class="hamburger-middle bg-[#9c9aa6]"></span>
        <span class="hamburger-bottom bg-[#9c9aa6]"></span>
      </button>
    </div>
    <!-- Mobile Menu -->
    <div
        id="menu"
        class="absolute hidden md:hidden pt-6 pb-3 bg-[#394148] opacity-95 left-0 right-0 top-18 z-100">
      <div class="flex flex-col items-start justify-center w-full space-y-6 font-bold text-stone-300">
        {% for link in site.navigation %}
        {% assign current = nil %}
        {% if page.url == link.url %}
        {% assign current = 'text-rose-400' %}
        {% endif %}
        <div class="border-b-1 border-gray-600 w-full">
          <a class="{{ current }} pl-6 hover:text-rose-200 hover:underline" href="{{ site.baseurl }}{{ link.url }}">{{ link.text }}</a>
        </div>

        {% endfor %}
      </div>
    </div>
    <!-- menu for md and lg -->
    <div id="nav-menu" class="hidden md:flex items-center pl-10">
      <ul class="flex flex-row space-x-5 font-bold divide-x-1 divide-gray-600">
        {% for link in site.navigation %}
        {% assign current = nil %}
        {% if page.url == link.url %}
        {% assign current = 'text-rose-400' %}
        {% endif %}
        <li class="{{ current }}">
          <a class="{{ current }} pl-0 pr-5 hover:text-rose-200 hover:underline" href="{{ site.baseurl }}{{ link.url }}">{{ link.text }}</a>
        </li>
        {% endfor %}
      </ul>
    </div>
    <a id="search-open" class="search-toggle pr-5 md:pr-10">
      <i class="fa-solid fa-magnifying-glass"></i>
    </a>
  </div>
</nav>
