{% assign post = include.post %}
<a class="underline decoration-2 underline-offset-2 text-xl text-stone-600 dark:text-stone-200"
   href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
<time class="text-md pl-1 text-stone-500 italic" datetime="{{ post.date | date: '%Y-%m-%d' }}">
  <a href="{{ post.url | prepend: site.baseurl }}">{{ post.date | date: "%B %-d, %Y" }}</a>
</time>
<div class="text-lg text-stone-500 dark:text-stone-200">{{ post.description | default: post.excerpt }}</div>
{% for tag in post.tags %}
{% include tag.html tag=tag %}
{% endfor %}
