{% assign post = include.post %}
<div class="bg-neutral-100 h-full flex flex-col items-center justify-start space-y-2">
  {% if post.featured_image %}
  <a href="{{ post.url | prepend: site.baseurl }}" class="post-thumbnail">
    <img
        src="{{ '/assets/img/featured/' | append: post.featured_image | prepend: site.baseurl }}"
        alt="{% if post.featured_image_alt %}{{ post.featured_image_alt }}{% else %}{{ post.title }}{% endif %}">
  </a>
  {% endif %}
  <div class="h-64 flex flex-col items-center justify-start space-y-2">
    <a class="px-4 hover:underline decoration-2 underline-offset-2 text-lg text-neutral-700 font-semibold"
       href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
    <time class="text-sm text-neutral-500" datetime="{{ post.date | date: '%Y-%m-%d' }}">
      <a href="{{ post.url | prepend: site.baseurl }}">{{ post.date | date: "%B %-d, %Y" }}</a>
    </time>
    <div class="px-4 pb-2 text-base text-neutral-600 overflow-hidden">{{ post.excerpt }}</div>
  </div>
  <a
      href="{{ post.url | prepend: site.baseurl }}"
      class="mb-2 px-4 py-2 bg-[#495158] font-semibold text-neutral-300 hover:text-neutral-50 hover:bg-rose-400"
  >Read more</a>
</div>
