---
layout: default
---

<main>
  <h2 class="mt-12 pb-4 text-center text-xl font-bold text-neutral-400">
    recent posts
  </h2>

  <div class="animate-fade-in container mx-auto max-w-7xl p-2 md:p-10">
    <div class="grid gap-6 grid-col-1 text-white md:grid-cols-3">
      {% for post in paginator.posts %}
      <div class="text-base pb-2">
        {% include post_link.html post=post %}
      </div>
      {% endfor %}
      <div class="hidden only:block italic py-4 text-lg text-neutral-400">
        No Posts yet
      </div>
    </div>
  </div>
  {% if paginator.total_pages > 1 %}
  <div class="flex justify-center gap-4 py-6">
    {% if paginator.next_page %}
    <a
        href="{{ paginator.next_page_path }}"
        class="px-4 py-2 bg-[#495158] font-semibold text-neutral-300 hover:text-neutral-100 hover:bg-rose-300"
    >
      View More &raquo;
    </a>
    {% endif %}
  </div>
  {% endif %}
</main>
